{% extends 'base.html' %}
{% block main %}

<body>
    <p>Welcome to CosmoQuest!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quod officia quas fuga non ex cumque
        repudiandae totam voluptas dolorum, harum mollitia autem nam quaerat assumenda iure facilis sapiente illum.</p>

    <ul>
        <li><a href="/earth">Earth</a></li>
        <li><a href="/mars">Mars</a></li>
        <li><a href="/moon">Moon</a></li>
        <li><a href="/jupiter">Jupiter</a></li>
        <li><a href="/saturn">Saturn</a></li>
    </ul>

</body>

{% endblock %}