{% extends 'base.html' %}

{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
<script src="{{ url_for('static', filename='scripts/login.js') }}" defer></script>
{% endblock %}


{% block main %}

<body class="w-full h-screen flex justify-center overflow-clip">

    <div class="fixed w-full text-white flex justify-center gap-5 pt-5 pb-5 bg-gradient-to-b from-black to-transparent"
        id="navbar">
        <a href="/" class="hover:scale-110 duration-200">Home</a>
        <a href="/#aboutus" class="hover:scale-110 duration-200">About Us</a>
        <a href="/#planets" class="hover:scale-110 duration-200">Book Tickets</a>
    </div>

    <div class="flex flex-col justify-start p-10 w-fit h-fit my-auto rounded-2xl backdrop-blur-md bg-white/10 shadow-2xl"
        id="loginForm">

        <h1 class="text-2xl font-bold text-gray-200 text-center">
            Create Account
        </h1>

        <!-- <div class="mt-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message == 'imail' %}
        <div style="background-color: rgba(255, 150, 146, 0.804); text-align:center; padding:10px; border-radius:5px;">
            Invalid login, please try again ❌
        </div>
        {% endif %}

        {% if message == 'ipass' %}
        <div style="background-color: rgba(255, 191, 0, 0.978); text-align:center; padding:10px; border-radius:5px;">
            Incorrect password, try again ❌
        </div>
        {% endif%}

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div> -->


        <form class="flex flex-col rounded p-5" method="post">

            <label class="font-semibold text-xs text-gray-200" for="nameField">Name</label>
            <input
                class="flex items-center h-12 px-4 w-64 bg-gray-100/10 mt-2 rounded focus:outline-none focus:ring-2 focus:ring-white/20 text-gray-200"
                type="name" name="name" required>

            <label class="font-semibold text-xs mt-3 text-gray-200" for="usernameField">Email</label>
            <input
                class="flex items-center h-12 px-4 w-64 bg-gray-100/10 mt-2 rounded focus:outline-none focus:ring-2 focus:ring-white/20 text-gray-200"
                type="email" name="email" required>

            <label class="font-semibold text-xs mt-3 text-gray-200" for="passwordField">Password</label>
            <input
                class="flex items-center h-12 px-4 w-64 bg-gray-100/10 mt-2 rounded focus:outline-none focus:ring-2 focus:ring-white/20 text-gray-200"
                type="password" name="password" required>

            <label class="font-semibold text-xs mt-3 text-gray-200" for="passwordField">Confirm Password</label>
            <input
                class="flex items-center h-12 px-4 w-64 bg-gray-100/10 mt-2 rounded focus:outline-none focus:ring-2 focus:ring-white/20 text-gray-200"
                type="password" name="repassword" required>

            <button
                class="flex items-center justify-center h-12 px-6 w-64 bg-[#122931] mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-[#1d414e]">Signup</button>

        </form>

        <p class="text-white text-center">
            Already Registered? <a href="/login" class="text-blue-400 hover:text-blue-300 font-bold">Login here</a>
        </p>

    </div>
</body>

{% endblock %}